git/gitconfig.symlink

.viminfo
.netrwhist
tmp-jhbuild-revision

vim/bundle/*
!vim/bundle/Vundle.vim

# Beets
state.pickle
discogs_token.json

node_modules

# Antigen should be installed to this location during initial dotfiles install
zsh/antigen.zsh

# Ignore repos contained within
perspective-icons
hcl/config
beets/beets

fish_variables
