cask_args appdir: '/Applications'

tap 'homebrew/bundle'
tap 'homebrew/cask-fonts'
tap 'd12frosted/emacs-plus'

brew 'coreutils'
brew 'gnu-sed'

# Install xquartz first because some things depend on it
cask 'xquartz'

brew 'ack'
brew 'autoconf'
brew 'automake'
brew 'bash-completion'
brew 'bat'
brew 'cabal-install'
brew 'cmatrix'
brew 'composer'
brew 'curl'
brew 'ddate'
brew 'direnv'
brew 'ical-buddy'
brew 'emacs-plus@27', args: ['with-modern-papirus-icon', 'with-no-titlebar']
brew 'editorconfig' # For faster editorconfig in emacs.
brew 'exa'
brew 'fd'
brew 'fish'
brew 'fzf'
brew 'fzy'
brew 'hub'
brew 'git'
brew 'graphicsmagick'
brew 'grc'
brew 'gsl'
brew 'imagemagick'
brew 'jp2a'
brew 'jq'
brew 'libcaca'
brew 'libquicktime'
brew 'librsvg'
brew 'libtool'
brew 'libyaml'
brew 'luarocks'
brew 'm-cli'
brew 'mysql'
brew 'node'
brew 'openssl'
brew 'optipng'
brew 'peco'
brew 'php'
brew 'phpunit'
brew 'postgresql'
brew 'pkg-config'
brew 'pyenv'
brew 'python3'
brew 'rbenv'
brew 'rclone'
brew 'readline'
brew 'ripgrep' # required by doom-emacs
brew 'scmpuff'
brew 'shellcheck'
brew 'speex'
brew 'sqlite3'
brew 'starship'
brew 'tldr'
brew 'tree'
brew 'wget'
brew 'xclip'
brew 'xz' # pyenv
brew 'youtube-dl'
brew 'zlib' # pyenv
brew 'zsh'
brew 'zsh-syntax-highlighting'

cask 'a-better-finder-rename'
cask 'airfoil'
cask 'alfred'
cask 'appcleaner'
# cask 'ascension'
cask 'audio-hijack'
cask 'bartender'
cask 'bettertouchtool'
cask 'calibre'
cask 'caprine'
cask 'cardhop'
cask 'cloudapp'
# cask 'colloquy'
cask 'dash'
cask 'fantastical'
cask 'google-chrome'
cask 'hammerspoon'
cask 'istat-menus'
cask 'iterm2'
cask 'kaleidoscope'
cask 'karabiner-elements'
cask 'keyboard-maestro'
cask 'kitty'
cask 'marked'
cask 'muzzle'
cask 'omnifocus'
cask 'rescuetime'
cask 'script-debugger'
cask 'soundsource'
cask 'transmit'
cask 'visual-studio-code'
cask 'vlc'
cask 'zoomus'

# QuickLook plugins
# https://github.com/sindresorhus/quick-look-plugins
cask 'qlcolorcode'
cask 'qlmarkdown'
cask 'quicklook-json'
cask 'qlstephen'
cask 'qlimagesize'
cask 'webpquicklook'
cask 'suspicious-package'
cask 'quicklookase'
cask 'qlvideo'

# Fonts
cask 'font-anonymice-powerline'
cask 'font-consolas-for-powerline'
cask 'font-dejavu-sans-mono-for-powerline'
cask 'font-droid-sans-mono-for-powerline'
cask 'font-fira-code'
cask 'font-fira-mono-for-powerline'
cask 'font-fira-sans'
cask 'font-hack'
cask 'font-inconsolata-dz-for-powerline'
cask 'font-inconsolata-for-powerline'
cask 'font-inconsolata-for-powerline-bold'
cask 'font-inconsolata-g-for-powerline'
cask 'font-liberation-mono-for-powerline'
cask 'font-menlo-for-powerline'
cask 'font-meslo-for-powerline'
cask 'font-monofur-for-powerline'
cask 'font-noto-mono-for-powerline'
cask 'font-powerline-symbols'
cask 'font-roboto-mono-for-powerline'
cask 'font-source-code-pro-for-powerline'
cask 'font-ubuntu-mono-derivative-powerline'
