tap 'homebrew/bundle'
tap 'homebrew/cask-fonts'

brew 'coreutils'
brew 'gnu-sed'

# brew 'aacgain' # FAILS!
brew 'ack'
brew 'autoconf'
brew 'automake'
brew 'bash-completion'
brew 'bat'
brew 'curl'
brew 'editorconfig' # For faster editorconfig in emacs.
brew 'exa'
brew 'fd'
brew 'fish'
brew 'fzf'
brew 'fzy'
brew 'git'
# @todo for what?
# brew 'gsl'
brew 'jq'
brew 'libtool'
brew 'libyaml'
brew 'node'
brew 'openssl'
brew 'postgresql'
brew 'pyenv'
brew 'python'
brew 'rclone'
brew 'readline' # pyenv
brew 'ripgrep' # required by doom-emacs
brew 'scmpuff'
brew 'shellcheck'
brew 'sqlite3'
brew 'starship'
brew 'tldr'
brew 'tree'
brew 'wget'
brew 'xz' # pyenv
brew 'zlib' # pyenv
brew 'zsh'
brew 'zsh-syntax-highlighting'
