tap 'homebrew/bundle'
tap 'homebrew/cask-fonts'

brew 'coreutils'
brew 'gnu-sed'

# brew 'aacgain' # FAILS!
brew 'ack'
brew 'autoconf'
brew 'automake'
brew 'bash-completion'
brew 'bat'
brew 'cabal-install'
brew 'chromaprint'
brew 'cmatrix'
brew 'curl'
brew 'ddate'
brew 'direnv'
brew 'editorconfig' # For faster editorconfig in emacs.
brew 'exa'
brew 'fd'
brew 'fish'
brew 'flac'
brew 'fzf'
brew 'fzy'
brew 'hub'
brew 'git'
brew 'graphicsmagick'
brew 'grc'
brew 'gsl'
brew 'imagemagick'
brew 'jp2a'
brew 'jq'
brew 'lame'
brew 'libcaca'
brew 'libquicktime'
brew 'librsvg'
brew 'libtool'
brew 'libyaml'
brew 'mktorrent'
brew 'node'
brew 'openssl'
brew 'optipng'
brew 'postgresql'
brew 'python3'
brew 'rbenv'
brew 'rclone'
brew 'ripgrep' # required by doom-emacs
brew 'scmpuff'
brew 'shellcheck'
brew 'speex'
brew 'sqlite3'
brew 'starship'
# brew 'tag' # FAILS!
brew 'tldr'
brew 'tree'
brew 'wget'
brew 'whatmp3'
brew 'youtube-dl'
brew 'zsh'
brew 'zsh-syntax-highlighting'
