set -e

# Use this in a directory containing a package.json file to `nvm use` its
# `engines.node` version.
use nvm "$(read_version_from_package_json)"

# Helper for the `glb` alias -- use this branch as the primary branch to
# compare the current branch's changes against
export GIT_PRIMARY_BRANCH='production'

# Add Composer bin to PATH
PATH_add ./vendor/bin
