"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3d743396-3e0b-468d-9bc6-eeae402b90de"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "Atom-Syntax-highlighting-for-Sass"
      "symbols-view"
      "regex-railroad-diagram"
      "busy"
      "linter-stylelint"
      "whitespace"
      "hard-wrap"
      "linter-php"
      "linter-phpcs"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Operator Mono Ssm"
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrapHangingIndent: 4
    tabType: "auto"
  emmet: {}
  "exception-reporting":
    userId: "4217ace1-2199-e251-fc9f-29440d0570be"
  "git-diff":
    showIconsInEditorGutter: true
  "ide-php": {}
  "isotope-ui":
    backgroundColor: "false"
    backgroundGradient: true
    fontFamily: "Ubuntu"
  linter:
    subtleLinterErrors: [
      "phpcs"
      "phpmd"
      "scss-lint"
    ]
  "linter-phpcs":
    autoConfigSearch: false
    codeStandardOrConfigFile: "/Users/montchr/dev/spiritedmedia.dev/public/phpcs.ruleset.xml"
    disableWhenNoConfigFile: true
    executablePath: "/Users/montchr/dev/spiritedmedia.dev/public/vendor/bin/phpcs"
  "linter-phpmd": {}
  "linter-ui-default":
    panelHeight: 300
  marked: {}
  metrics:
    userId: "8d53384b4cba39680a039773c474de6a35e4e6a6"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-integrator-autocomplete-plus":
    automaticallyAddUseStatements: false
  "php-integrator-base":
    core:
      phpCommand: "/usr/local/opt/php71/bin/php"
    linting:
      enable: false
      showMissingDocs: false
      showUnknownClasses: false
      showUnknownGlobalConstants: false
      showUnknownGlobalFunctions: false
      showUnusedUseStatements: false
      validateDocblockCorrectness: false
    phpCommand: "/usr/local/opt/php71/bin/php"
  "php-integrator-base:confirmed-upgrade-message": true
  "release-notes":
    viewedVersion: "0.80.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".html.php.text":
  editor:
    tabLength: 4
".hyperlink.text":
  editor:
    softWrapHangingIndent: 4
".sass.source":
  editor:
    softWrapHangingIndent: 4
".scss.source":
  editor:
    softWrapHangingIndent: 4
"linter-phpcs":
  executablePath: "/Users/montchr/dev/spiritedmedia.dev/public/vendor/bin/phpcs"
"linter-rubocop":
  executablePath: "/Users/montchr/.rvm/gems/ruby-2.3.3@global/wrappers/rubocop"
"linter-ruby":
  rubyExecutablePath: "/Users/montchr/.rvm/rubies/ruby-2.3.3/bin/ruby"
"linter-shellcheck":
  shellcheckExecutablePath: "/Users/montchr/.cabal/bin/shellcheck"
