"*":
  core:
    disabledPackages: [
      "Atom-Syntax-highlighting-for-Sass"
      "busy"
      "php-integrator-annotations"
      "php-integrator-navigation"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "vendor"
      "dist"
    ]
    telemetryConsent: "limited"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Operator Mono SSm"
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrapHangingIndent: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "4217ace1-2199-e251-fc9f-29440d0570be"
  "git-diff":
    showIconsInEditorGutter: true
  "isotope-ui":
    backgroundColor: "false"
    backgroundGradient: true
    fontFamily: "Ubuntu"
  linter:
    subtleLinterErrors: [
      "phpcs"
      "phpmd"
      "scss-lint"
    ]
  "linter-phpcs":
    executablePath: "/Users/montchr/dev/spiritedmedia.dev/public/vendor/bin/phpcs"
  "linter-phpmd": {}
  marked: {}
  metrics:
    userId: "8d53384b4cba39680a039773c474de6a35e4e6a6"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  "php-integrator-base":
    phpCommand: "/usr/local/opt/php71/bin/php"
  "release-notes":
    viewedVersion: "0.80.0"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".hyperlink.text":
  editor:
    softWrapHangingIndent: 4
".sass.source":
  editor:
    softWrapHangingIndent: 4
".scss.source":
  editor:
    softWrapHangingIndent: 4
"linter-phpcs":
  executablePath: "/Users/montchr/dev/spiritedmedia.dev/public/vendor/bin/phpcs"
"linter-rubocop":
  executablePath: "/Users/montchr/.rvm/gems/ruby-2.3.3@global/wrappers/rubocop"
"linter-ruby":
  rubyExecutablePath: "/Users/montchr/.rvm/rubies/ruby-2.3.3/bin/ruby"
"linter-shellcheck":
  shellcheckExecutablePath: "/Users/montchr/.cabal/bin/shellcheck"
