packages: [
  "advanced-open-file"
  "aligner-php"
  "atom-alignment"
  "atom-beautify"
  "atom-django"
  "atom-minify"
  "Atom-Syntax-highlighting-for-Sass"
  "atom-ternjs"
  "atomizr"
  "auto-update-packages"
  "autocomplete-emojis"
  "autocomplete-modules"
  "autocomplete-php"
  "autocomplete-project-paths"
  "autocomplete-wordpress-hooks"
  "busy"
  "busy-signal"
  "change-case"
  "chester-atom-syntax"
  "dash"
  "django-templates"
  "docblockr"
  "editorconfig"
  "emmet"
  "emmet-snippets-compatibility"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "jekyll"
  "language-apache"
  "language-blade"
  "language-gitignore"
  "language-nginx"
  "less-than-slash"
  "linter"
  "linter-csslint"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jshint"
  "linter-jsonlint"
  "linter-php"
  "linter-phpcs"
  "linter-rubocop"
  "linter-ruby"
  "linter-tidy"
  "linter-ui-default"
  "marked"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "package-cop"
  "package-sync"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-call-tips-legacy-php56"
  "php-integrator-navigation"
  "php-integrator-tooltips"
  "php-integrator-tooltips-legacy-php56"
  "php-twig"
  "pigments"
  "project-manager"
  "regex-railroad-diagram"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "tablr"
  "toggle-quotes"
  "visual-bell"
  "wordpress-api"
  "Zen"
]
