# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#


# Idiomatic CSS snippets
'.source.css,source.css.less,source.css.scss,source.css.sass':
  'Preprocessor: Basic Comment':
    'prefix': 'com-basic'
    'body': '// ${1}'
  'Preprocessor: Longer Descriptor Comment':
    'prefix': 'com-long'
    'body': '//\n// ${1}\n//'
  'Preprocessor: Section Comment Block':
    'prefix': 'com-section'
    'body': '// ==========================================================================\n// ${1}\n// ==========================================================================\n\n${2}'
  'Preprocessor: Sub-Section Comment Block':
    'prefix': 'com-sub'
    'body': '//\n// ${1}\n// ==========================================================================\n\n${2}'
  'Preprocessor: Todo Comment':
    'prefix': 'com-todo'
    'body': '//\n// @TODO\n// ${1}\n//\n\n${2}'
  'CSS: Basic Comment':
    'prefix': 'com-css-basic'
    'body': '/* ${1} */'
  'CSS: Longer Descriptor Comment':
    'prefix': 'com-css-long'
    'body': '/**\n * ${1}\n */'
  'CSS: Section Comment Block':
    'prefix': 'com-css-section'
    'body': '/* ==========================================================================\n   ${1}\n   ========================================================================== */\n\n${2}'
  'CSS: Sub-Section Comment Block':
    'prefix': 'com-css-sub'
    'body': '/*\n   ${1}\n   ========================================================================== */\n\n${2}'
  'CSS: Todo Comment':
    'prefix': 'com-css-todo'
    'body': '/**\n * @TODO\n */'
