[wlg]
sources =
        discogs,
        lastfm,
        redacted
whitelist = /path/to/home/.dotfiles/whatlastgenre/genre.txt
tagsfile = /path/to/home/.dotfiles/whatlastgenre/tags.txt
id3v23sep = '/ '

[genres]
love =
     ambient dub,
     ambient house,
     ambient industrial,
     ambient jazz,
     ambient noise,
     ambient space jazz,
     ambient techno,
     arab pop,
     balearic beat,
     barbershop,
     bebop,
     berlin-school,
     deconstructed club,
     drone,
     fourth world,
     glitch,
     hauntology,
     hypnagogic pop,
     italo disco,
     kosmische,
     library music,
     lowercase,
     microsound,
     noise,
     outsider house,
     post-industrial,
     roots reggae
hate =
     abstract,
     acoustic,
     classical,
     disco,
     electronic,
     eurodance,
     indie,
     latin,
     minimal,
     pop,
     psychedelic,
     reggae,
     rock,
     world

[scores]
artist = 1.33
various = 0.66
splitup = 0.33
minimum = 0.10
src_discogs = 0.75
src_lastfm = 1.25
src_mbrainz = 0.66
src_redacted = 1.50

[discogs]
token = 
secret = 

[redacted]
username = 
password = 
session = 

